* text=auto !eol
.idea/.name -text
.idea/artifacts/sol.xml -text
.idea/artifacts/solDesktop.xml -text
.idea/artifacts/solSrc.xml -text
.idea/codeStyleSettings.xml -text
.idea/compiler.xml -text
.idea/copyright/profiles_settings.xml -text
.idea/dictionaries/rusya.xml -text
.idea/encodings.xml -text
.idea/libraries/deskLib.xml -text
.idea/libraries/mainLib.xml -text
.idea/misc.xml -text
.idea/modules.xml -text
.idea/scopes/scope_settings.xml -text
.idea/uiDesigner.xml -text
.idea/vcs.xml -text
.idea/workspace.xml -text
desktop/desktop.iml -text
desktop/libs/gdx-backend-lwjgl-natives.jar -text
desktop/libs/gdx-backend-lwjgl-sources.jar -text
desktop/libs/gdx-backend-lwjgl.jar -text
desktop/src/META-INF/MANIFEST.MF -text
desktop/src/com/miloshpetrov/sol2/desktop/SolDesktop.java -text
desktop/tools/l4jcfg.xml -text
desktop/tools/sol.ico -text
main/imgSrcs/asteroids/0.png -text
main/imgSrcs/asteroids/1.png -text
main/imgSrcs/asteroids/Thumbs.db -text
main/imgSrcs/asteroids/pack.json -text
main/imgSrcs/deco/rocky/Thumbs.db -text
main/imgSrcs/deco/rocky/grass_0.png -text
main/imgSrcs/deco/rocky/grass_1.png -text
main/imgSrcs/deco/rocky/grass_2.png -text
main/imgSrcs/deco/rocky/pack.json -text
main/imgSrcs/deco/rocky/tree_0.png -text
main/imgSrcs/deco/rocky/tree_1.png -text
main/imgSrcs/deco/rocky/tree_2.png -text
main/imgSrcs/deco/rocky/tree_3.png -text
main/imgSrcs/farBg/Thumbs.db -text
main/imgSrcs/farBg/bigStar.png -text
main/imgSrcs/farBg/pack.json -text
main/imgSrcs/farBg/smallStar.png -text
main/imgSrcs/farBgBig/nebulae2.png -text
main/imgSrcs/farJunks/junk_1.png -text
main/imgSrcs/farJunks/junk_2.png -text
main/imgSrcs/farJunks/junk_3.png -text
main/imgSrcs/farJunks/junk_4.png -text
main/imgSrcs/farJunks/pack.json -text
main/imgSrcs/grounds/rocky/Thumbs.db -text
main/imgSrcs/grounds/rocky/fd_0.png -text
main/imgSrcs/grounds/rocky/fd_1.png -text
main/imgSrcs/grounds/rocky/ff_0.png -text
main/imgSrcs/grounds/rocky/ff_1.png -text
main/imgSrcs/grounds/rocky/ud_0.png -text
main/imgSrcs/grounds/rocky/ud_1.png -text
main/imgSrcs/grounds/rocky/uf_0.png -text
main/imgSrcs/grounds/rocky/uf_1.png -text
main/imgSrcs/grounds/rocky/uu_0.png -text
main/imgSrcs/grounds/rocky/uu_1.png -text
main/imgSrcs/guns/Thumbs.db -text
main/imgSrcs/guns/bolter.png -text
main/imgSrcs/guns/miniGun.png -text
main/imgSrcs/guns/pack.json -text
main/imgSrcs/guns/rocketLauncher.png -text
main/imgSrcs/guns/slowGun.png -text
main/imgSrcs/hulls/Thumbs.db -text
main/imgSrcs/hulls/bus.png -text
main/imgSrcs/hulls/corvette.png -text
main/imgSrcs/hulls/dragon.png -text
main/imgSrcs/hulls/drome.png -text
main/imgSrcs/hulls/guardie.png -text
main/imgSrcs/hulls/hawk.png -text
main/imgSrcs/hulls/hummer.png -text
main/imgSrcs/hulls/hunter.png -text
main/imgSrcs/hulls/orbiter.png -text
main/imgSrcs/hulls/pack.json -text
main/imgSrcs/hulls/station.png -text
main/imgSrcs/hulls/truck.png -text
main/imgSrcs/hulls/vanguard.png -text
main/imgSrcs/icons/armor.png -text
main/imgSrcs/icons/bg.png -text
main/imgSrcs/icons/bolter.png -text
main/imgSrcs/icons/bulletClip.png -text
main/imgSrcs/icons/bus.png -text
main/imgSrcs/icons/corvette.png -text
main/imgSrcs/icons/dragon.png -text
main/imgSrcs/icons/drome.png -text
main/imgSrcs/icons/ehar.png -text
main/imgSrcs/icons/engine.png -text
main/imgSrcs/icons/ground.png -text
main/imgSrcs/icons/guardie.png -text
main/imgSrcs/icons/hawk.png -text
main/imgSrcs/icons/hummer.png -text
main/imgSrcs/icons/hunter.png -text
main/imgSrcs/icons/infinity.png -text
main/imgSrcs/icons/laani.png -text
main/imgSrcs/icons/life.png -text
main/imgSrcs/icons/miniGun.png -text
main/imgSrcs/icons/money.png -text
main/imgSrcs/icons/more.png -text
main/imgSrcs/icons/orbiter.png -text
main/imgSrcs/icons/pack.json -text
main/imgSrcs/icons/repairItem.png -text
main/imgSrcs/icons/rocketClip.png -text
main/imgSrcs/icons/rocketLauncher.png -text
main/imgSrcs/icons/shield.png -text
main/imgSrcs/icons/skull.png -text
main/imgSrcs/icons/sloMoCharge.png -text
main/imgSrcs/icons/slowGun.png -text
main/imgSrcs/icons/starPort.png -text
main/imgSrcs/icons/station.png -text
main/imgSrcs/icons/truck.png -text
main/imgSrcs/icons/vanguard.png -text
main/imgSrcs/icons/wait.png -text
main/imgSrcs/junks/Thumbs.db -text
main/imgSrcs/junks/junk_1.png -text
main/imgSrcs/junks/junk_2.png -text
main/imgSrcs/junks/pack.json -text
main/imgSrcs/mapObjs/atm.png -text
main/imgSrcs/mapObjs/pack.json -text
main/imgSrcs/mapObjs/planet.png -text
main/imgSrcs/mapObjs/planetCore.png -text
main/imgSrcs/mapObjs/star.png -text
main/imgSrcs/misc/Thumbs.db -text
main/imgSrcs/misc/door.png -text
main/imgSrcs/misc/forceBeacon.png -text
main/imgSrcs/misc/grad.png -text
main/imgSrcs/misc/pack.json -text
main/imgSrcs/misc/shield.png -text
main/imgSrcs/misc/starPort.png -text
main/imgSrcs/misc/tishch.png -text
main/imgSrcs/misc/title.png -text
main/imgSrcs/misc/transcendent.png -text
main/imgSrcs/misc/whiteTex.png -text
main/imgSrcs/pack.json -text
main/imgSrcs/particles/Thumbs.db -text
main/imgSrcs/particles/bulletColl.png -text
main/imgSrcs/particles/emitters.lnk -text
main/imgSrcs/particles/flame.png -text
main/imgSrcs/particles/lightCircle.png -text
main/imgSrcs/particles/lightHalo.png -text
main/imgSrcs/particles/pack.json -text
main/imgSrcs/particles/smoke.png -text
main/imgSrcs/particles/spark.png -text
main/imgSrcs/projectiles/Thumbs.db -text
main/imgSrcs/projectiles/bolter.png -text
main/imgSrcs/projectiles/bullet.png -text
main/imgSrcs/projectiles/pack.json -text
main/imgSrcs/projectiles/rocket.png -text
main/imgSrcs/shards/0.png -text
main/imgSrcs/shards/1.png -text
main/imgSrcs/shards/2.png -text
main/imgSrcs/shards/pack.json -text
main/imgSrcs/skies/Thumbs.db -text
main/imgSrcs/skies/cloud_1.png -text
main/imgSrcs/ui/cursor.png -text
main/libs/gdx-natives.jar -text
main/libs/gdx-openal-sources.jar -text
main/libs/gdx-openal.jar -text
main/libs/gdx-sources.jar -text
main/libs/gdx.jar -text
main/main.iml -text
main/res/configs/items/armors.json -text
main/res/configs/items/clips.json -text
main/res/configs/items/engines.json -text
main/res/configs/items/guns.json -text
main/res/configs/items/shields.json -text
main/res/configs/planets.json -text
main/res/configs/projectiles.json -text
main/res/configs/ships.json -text
main/res/emitters/explInner.p -text
main/res/emitters/explosion.p -text
main/res/emitters/flame.p -text
main/res/emitters/smoke.p -text
main/res/emitters/spark.p -text
main/res/fonts/main.fnt -text
main/res/fonts/main_0.png -text
main/res/icon.png -text
main/res/paths/asteroids.json -text
main/res/paths/grounds/rocky.json -text
main/res/paths/hulls.json -text
main/res/paths/imgSrcs.lnk -text
main/res/paths/loot.json -text
main/res/paths/misc.json -text
main/res/paths/shards.json -text
main/res/sounds/armor/0.wav -text
main/res/sounds/armor/1.wav -text
main/res/sounds/armor/new[!!-~]sounds[!!-~]needed.txt -text
main/res/sounds/bigShield/2.wav -text
main/res/sounds/bigShield/3.wav -text
main/res/sounds/bigShield/4.wav -text
main/res/sounds/explosion/0.wav -text
main/res/sounds/guns/miniGun/reload/0.wav -text
main/res/sounds/guns/miniGun/shoot/0.wav -text
main/res/sounds/guns/miniGun/shoot/1.wav -text
main/res/sounds/guns/rocketLauncher/reload/0.wav -text
main/res/sounds/guns/rocketLauncher/shoot/0.wav -text
main/res/sounds/guns/slowGun/0.wav -text
main/res/sounds/guns/slowGun/1.wav -text
main/res/sounds/guns/slowGun/2.wav -text
main/res/sounds/shield/0.wav -text
main/res/sounds/shield/1.wav -text
main/res/sounds/zones/Drums_0.wav -text
main/res/sounds/zones/Drums_1.wav -text
main/res/sounds/zones/Drums_2.wav -text
main/res/sounds/zones/Drums_3.wav -text
main/res/sounds/zones/Pianolead_0.wav -text
main/res/sounds/zones/Pianolead_1.wav -text
main/res/sounds/zones/Pianolead_2.wav -text
main/res/sounds/zones/Pianorhyme_0.wav -text
main/res/sounds/zones/Pianorhyme_1.wav -text
main/res/sounds/zones/Pianorhyme_2.wav -text
main/res/sounds/zones/Pianorhyme_3.wav -text
main/res/sounds/zones/readme.txt -text
main/settings.ini -text
main/src/META-INF/MANIFEST.MF -text
main/src/SolAppListener.gwt.xml -text
main/src/com/miloshpetrov/sol2/CommonDrawer.java -text
main/src/com/miloshpetrov/sol2/Const.java -text
main/src/com/miloshpetrov/sol2/SolAppListener.java -text
main/src/com/miloshpetrov/sol2/SolCmp.java -text
main/src/com/miloshpetrov/sol2/SolFiles.java -text
main/src/com/miloshpetrov/sol2/TexDrawer.java -text
main/src/com/miloshpetrov/sol2/TexMan.java -text
main/src/com/miloshpetrov/sol2/common/Bound.java -text
main/src/com/miloshpetrov/sol2/common/Col.java -text
main/src/com/miloshpetrov/sol2/common/Consumed.java -text
main/src/com/miloshpetrov/sol2/common/DebugCol.java -text
main/src/com/miloshpetrov/sol2/common/Norm.java -text
main/src/com/miloshpetrov/sol2/common/Nullable.java -text
main/src/com/miloshpetrov/sol2/common/SolMath.java -text
main/src/com/miloshpetrov/sol2/game/CamRotStrategy.java -text
main/src/com/miloshpetrov/sol2/game/DebugAspects.java -text
main/src/com/miloshpetrov/sol2/game/Dir.java -text
main/src/com/miloshpetrov/sol2/game/Drawer.java -text
main/src/com/miloshpetrov/sol2/game/FarObj.java -text
main/src/com/miloshpetrov/sol2/game/Fraction.java -text
main/src/com/miloshpetrov/sol2/game/FractionMan.java -text
main/src/com/miloshpetrov/sol2/game/GalaxyFiller.java -text
main/src/com/miloshpetrov/sol2/game/GridDrawer.java -text
main/src/com/miloshpetrov/sol2/game/MapDrawer.java -text
main/src/com/miloshpetrov/sol2/game/ObjMan.java -text
main/src/com/miloshpetrov/sol2/game/PathLoader.java -text
main/src/com/miloshpetrov/sol2/game/RemoveController.java -text
main/src/com/miloshpetrov/sol2/game/Shard.java -text
main/src/com/miloshpetrov/sol2/game/ShardBuilder.java -text
main/src/com/miloshpetrov/sol2/game/SolCam.java -text
main/src/com/miloshpetrov/sol2/game/SolContactFilter.java -text
main/src/com/miloshpetrov/sol2/game/SolContactListener.java -text
main/src/com/miloshpetrov/sol2/game/SolGame.java -text
main/src/com/miloshpetrov/sol2/game/SolObj.java -text
main/src/com/miloshpetrov/sol2/game/StarPort.java -text
main/src/com/miloshpetrov/sol2/game/TradeMan.java -text
main/src/com/miloshpetrov/sol2/game/asteroid/Asteroid.java -text
main/src/com/miloshpetrov/sol2/game/asteroid/AsteroidBuilder.java -text
main/src/com/miloshpetrov/sol2/game/asteroid/FarAsteroid.java -text
main/src/com/miloshpetrov/sol2/game/chunk/ChunkFiller.java -text
main/src/com/miloshpetrov/sol2/game/chunk/ChunkMan.java -text
main/src/com/miloshpetrov/sol2/game/dra/Dra.java -text
main/src/com/miloshpetrov/sol2/game/dra/DraLevel.java -text
main/src/com/miloshpetrov/sol2/game/dra/DraMan.java -text
main/src/com/miloshpetrov/sol2/game/dra/DrasObj.java -text
main/src/com/miloshpetrov/sol2/game/dra/FarDras.java -text
main/src/com/miloshpetrov/sol2/game/dra/RectSprite.java -text
main/src/com/miloshpetrov/sol2/game/farBg/FarBgMan.java -text
main/src/com/miloshpetrov/sol2/game/farBg/FarBgManOld.java -text
main/src/com/miloshpetrov/sol2/game/gun/GunConfig.java -text
main/src/com/miloshpetrov/sol2/game/gun/GunItem.java -text
main/src/com/miloshpetrov/sol2/game/gun/GunMount.java -text
main/src/com/miloshpetrov/sol2/game/gun/SolGun.java -text
main/src/com/miloshpetrov/sol2/game/input/AiPilot.java -text
main/src/com/miloshpetrov/sol2/game/input/BattleDestProvider.java -text
main/src/com/miloshpetrov/sol2/game/input/BigObjAvoider.java -text
main/src/com/miloshpetrov/sol2/game/input/ExplorerDestProvider.java -text
main/src/com/miloshpetrov/sol2/game/input/Guardian.java -text
main/src/com/miloshpetrov/sol2/game/input/MoveDestProvider.java -text
main/src/com/miloshpetrov/sol2/game/input/Mover.java -text
main/src/com/miloshpetrov/sol2/game/input/NoDestProvider.java -text
main/src/com/miloshpetrov/sol2/game/input/OrbiterDestProvider.java -text
main/src/com/miloshpetrov/sol2/game/input/Pilot.java -text
main/src/com/miloshpetrov/sol2/game/input/PlayerPilot.java -text
main/src/com/miloshpetrov/sol2/game/input/Shooter.java -text
main/src/com/miloshpetrov/sol2/game/input/SmallObjAvoider.java -text
main/src/com/miloshpetrov/sol2/game/item/Armor.java -text
main/src/com/miloshpetrov/sol2/game/item/ClipConfig.java -text
main/src/com/miloshpetrov/sol2/game/item/ClipItem.java -text
main/src/com/miloshpetrov/sol2/game/item/EngineItem.java -text
main/src/com/miloshpetrov/sol2/game/item/ItemContainer.java -text
main/src/com/miloshpetrov/sol2/game/item/ItemMan.java -text
main/src/com/miloshpetrov/sol2/game/item/Loot.java -text
main/src/com/miloshpetrov/sol2/game/item/LootBuilder.java -text
main/src/com/miloshpetrov/sol2/game/item/MoneyItem.java -text
main/src/com/miloshpetrov/sol2/game/item/RepairItem.java -text
main/src/com/miloshpetrov/sol2/game/item/Shield.java -text
main/src/com/miloshpetrov/sol2/game/item/ShipItem.java -text
main/src/com/miloshpetrov/sol2/game/item/SloMoCharge.java -text
main/src/com/miloshpetrov/sol2/game/item/SolItem.java -text
main/src/com/miloshpetrov/sol2/game/particle/LightObj.java -text
main/src/com/miloshpetrov/sol2/game/particle/LightSrc.java -text
main/src/com/miloshpetrov/sol2/game/particle/PartMan.java -text
main/src/com/miloshpetrov/sol2/game/particle/ParticleSrc.java -text
main/src/com/miloshpetrov/sol2/game/planet/DecoConfig.java -text
main/src/com/miloshpetrov/sol2/game/planet/FarPlanetSprites.java -text
main/src/com/miloshpetrov/sol2/game/planet/FarSky.java -text
main/src/com/miloshpetrov/sol2/game/planet/FarTileObj.java -text
main/src/com/miloshpetrov/sol2/game/planet/GroundBuilder.java -text
main/src/com/miloshpetrov/sol2/game/planet/LandingPlaceFinder.java -text
main/src/com/miloshpetrov/sol2/game/planet/Planet.java -text
main/src/com/miloshpetrov/sol2/game/planet/PlanetBind.java -text
main/src/com/miloshpetrov/sol2/game/planet/PlanetConfig.java -text
main/src/com/miloshpetrov/sol2/game/planet/PlanetConfigs.java -text
main/src/com/miloshpetrov/sol2/game/planet/PlanetEnemyConfig.java -text
main/src/com/miloshpetrov/sol2/game/planet/PlanetMan.java -text
main/src/com/miloshpetrov/sol2/game/planet/PlanetObjsBuilder.java -text
main/src/com/miloshpetrov/sol2/game/planet/PlanetSprites.java -text
main/src/com/miloshpetrov/sol2/game/planet/PlanetTiles.java -text
main/src/com/miloshpetrov/sol2/game/planet/Sky.java -text
main/src/com/miloshpetrov/sol2/game/planet/SolSystem.java -text
main/src/com/miloshpetrov/sol2/game/planet/SurfDir.java -text
main/src/com/miloshpetrov/sol2/game/planet/SystemsBuilder.java -text
main/src/com/miloshpetrov/sol2/game/planet/Tile.java -text
main/src/com/miloshpetrov/sol2/game/planet/TileObj.java -text
main/src/com/miloshpetrov/sol2/game/planet/TileObjBuilder.java -text
main/src/com/miloshpetrov/sol2/game/projectile/BallProjectileBody.java -text
main/src/com/miloshpetrov/sol2/game/projectile/PointProjectileBody.java -text
main/src/com/miloshpetrov/sol2/game/projectile/Projectile.java -text
main/src/com/miloshpetrov/sol2/game/projectile/ProjectileBody.java -text
main/src/com/miloshpetrov/sol2/game/projectile/ProjectileConfig.java -text
main/src/com/miloshpetrov/sol2/game/projectile/ProjectileConfigs.java -text
main/src/com/miloshpetrov/sol2/game/screens/BorderDrawer.java -text
main/src/com/miloshpetrov/sol2/game/screens/BuyItems.java -text
main/src/com/miloshpetrov/sol2/game/screens/ChangeShip.java -text
main/src/com/miloshpetrov/sol2/game/screens/GameScreens.java -text
main/src/com/miloshpetrov/sol2/game/screens/InventoryOperations.java -text
main/src/com/miloshpetrov/sol2/game/screens/InventoryScreen.java -text
main/src/com/miloshpetrov/sol2/game/screens/MainScreen.java -text
main/src/com/miloshpetrov/sol2/game/screens/MapScreen.java -text
main/src/com/miloshpetrov/sol2/game/screens/MenuScreen.java -text
main/src/com/miloshpetrov/sol2/game/screens/RightPaneLayout.java -text
main/src/com/miloshpetrov/sol2/game/screens/SellItems.java -text
main/src/com/miloshpetrov/sol2/game/screens/ShowInventory.java -text
main/src/com/miloshpetrov/sol2/game/screens/TalkScreen.java -text
main/src/com/miloshpetrov/sol2/game/screens/WarnDrawer.java -text
main/src/com/miloshpetrov/sol2/game/ship/Door.java -text
main/src/com/miloshpetrov/sol2/game/ship/FarShip.java -text
main/src/com/miloshpetrov/sol2/game/ship/ForceBeacon.java -text
main/src/com/miloshpetrov/sol2/game/ship/HullConfig.java -text
main/src/com/miloshpetrov/sol2/game/ship/HullConfigs.java -text
main/src/com/miloshpetrov/sol2/game/ship/ShipBuilder.java -text
main/src/com/miloshpetrov/sol2/game/ship/ShipEngine.java -text
main/src/com/miloshpetrov/sol2/game/ship/ShipHull.java -text
main/src/com/miloshpetrov/sol2/game/ship/ShipRepairer.java -text
main/src/com/miloshpetrov/sol2/game/ship/SolShip.java -text
main/src/com/miloshpetrov/sol2/game/sound/DebugHint.java -text
main/src/com/miloshpetrov/sol2/game/sound/DebugHintDrawer.java -text
main/src/com/miloshpetrov/sol2/game/sound/SolSounds.java -text
main/src/com/miloshpetrov/sol2/game/sound/SoundMan.java -text
main/src/com/miloshpetrov/sol2/menu/HalpScreen.java -text
main/src/com/miloshpetrov/sol2/menu/MainScreen.java -text
main/src/com/miloshpetrov/sol2/menu/MenuLayout.java -text
main/src/com/miloshpetrov/sol2/menu/MenuScreens.java -text
main/src/com/miloshpetrov/sol2/menu/OptionsScreen.java -text
main/src/com/miloshpetrov/sol2/menu/ResoScreen.java -text
main/src/com/miloshpetrov/sol2/menu/SettingsReader.java -text
main/src/com/miloshpetrov/sol2/save/SaveData.java -text
main/src/com/miloshpetrov/sol2/save/SaveMan.java -text
main/src/com/miloshpetrov/sol2/soundtest/SoundTestCmp.java -text
main/src/com/miloshpetrov/sol2/soundtest/SoundTestListener.java -text
main/src/com/miloshpetrov/sol2/ui/DebugCollector.java -text
main/src/com/miloshpetrov/sol2/ui/FontSize.java -text
main/src/com/miloshpetrov/sol2/ui/SolInputMan.java -text
main/src/com/miloshpetrov/sol2/ui/SolInputProcessor.java -text
main/src/com/miloshpetrov/sol2/ui/SolLayouts.java -text
main/src/com/miloshpetrov/sol2/ui/SolUiControl.java -text
main/src/com/miloshpetrov/sol2/ui/SolUiScreen.java -text
main/src/com/miloshpetrov/sol2/ui/TutMan.java -text
main/src/com/miloshpetrov/sol2/ui/UiDrawer.java -text
main/tools/todo.txt -text
