* text=auto !eol
/devBuild -text
libs/gdx-backend-lwjgl-natives.jar -text
libs/gdx-backend-lwjgl.jar -text
libs/gdx-natives.jar -text
libs/gdx.jar -text
libs/sol.jar -text
libs/solDesktop.jar -text
lwjre/ASSEMBLY_EXCEPTION -text
lwjre/LICENSE -text
lwjre/THIRD_PARTY_README -text
lwjre/bin/client/jvm.dll -text
lwjre/bin/java.dll -text
lwjre/bin/javaw.exe -text
lwjre/bin/msvcr100.dll -text
lwjre/bin/net.dll -text
lwjre/bin/nio.dll -text
lwjre/bin/verify.dll -text
lwjre/bin/zip.dll -text
lwjre/lib/i386/jvm.cfg -text
lwjre/lib/rt.jar -text
lwjreLinux/ASSEMBLY_EXCEPTION -text
lwjreLinux/LICENSE -text
lwjreLinux/THIRD_PARTY_README -text
lwjreLinux/bin/java -text
lwjreLinux/lib/i386/jli/libjli.so -text
lwjreLinux/lib/i386/jvm.cfg -text
lwjreLinux/lib/i386/libawt.so -text
lwjreLinux/lib/i386/libjava.so -text
lwjreLinux/lib/i386/libjawt.so -text
lwjreLinux/lib/i386/libnet.so -text
lwjreLinux/lib/i386/libnio.so -text
lwjreLinux/lib/i386/libverify.so -text
lwjreLinux/lib/i386/libzip.so -text
lwjreLinux/lib/i386/server/libjvm.so -text
lwjreLinux/lib/i386/xawt/libmawt.so -text
lwjreLinux/lib/resources.jar -text
lwjreLinux/lib/rt.jar -text
/sol.exe -text
/sol.sh -text
